<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-----------fonts------------->
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <!-----------fonts------------->

    <link rel="stylesheet" href="css/register.css">
    <!-----------linkto stylesheet------------->



    <title>Customer</title>

</head>

<body>

    <!-- header section -->

    <header>

        <h2 class="dialouge1"> JOHN'S SERVICE STATION</h2>
        <h6 class="dialouge2">
            A HOSPITAL WERE BIKES GET TREATMENT
        </h6>
        <form action="logout" method="post">
            <button id="logout" type="submit" class="ownlogout" name="submit">Logout</button><br>
        </form>

    </header>

    <h2><br>
        <center>Pending Booking Details</center>
    </h2>
    <table>
        <tr>

            <td>Name</td>
            <td>
                <%= pbookedBy%>
            </td>
        </tr>
        <tr>

            <td>Booking Date</td>
            <td>
                <%= pbookingDate%>
            </td>
        </tr>
        <tr>

            <td>Booking Time</td>
            <td>
                <%= pbookingTime%>
            </td>
        </tr>
        <tr>

            <td>Service Type</td>
            <td>
                <%=pserviceType%>
            </td>
        </tr>
        <tr>

            <td>Vehicle Name</td>
            <td>
                <%= pvehicleName%>
            </td>
        </tr>
        <tr>

            <td>Vehicle No</td>
            <td>
                <%= pvehicleNo%>
            </td>
        </tr>
        <tr>

            <td>Booking Status</td>
            <td>
                <%= pbookingStatus%>
            </td>
        </tr>
    </table>

    <!-- route to completedBooking page -->

    <form action="/completedDetails" method="post">
        <button id="completedBooking">click Here to see Completed Booking Details</button>
    </form>

    <!-----------footer section------------->
    <footer id="lastfoot">

        <h2 class="dialouge3">15YEARS OF EXPERIENCE</h2>

        <p class="dialouge4">A GENUNE SERVICE PROVIDER</p>

    </footer>

</body>

</html>